 @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue: 47;
}

html, body {
  margin: 0; 
  padding: 0;
} 

body {
  @apply text-white bg-fola-0 dark:bg-fola-990;
  font-family: "Raleway", sans-serif;
}
a {
  @apply text-fola-400 no-underline hover:text-fola-200 hover:no-underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Mono", sans-serif;
}

section {
  @apply overflow-hidden px-0 py-[60px];
}

.clay {
  box-shadow: inset 0px -5px 16px 0px hsla(var(--hue), 99%, 55%, 0.2), 
  inset 0px 11px 28px 0px hsla(var(--hue), 99%, 55%, 0.2);
}

.swiper-pagination-bullet {
  @apply bg-fola-800 dark:bg-fola-500
}


.chef-gradient {
  background: linear-gradient(
    0deg,
    hsla(var(--hue), 100%, 3%, 0.9) 0%,
    hsla(var(--hue), 100%, 3%, 0.8) 20%,
    hsla(var(--hue), 100%, 3%, 0.1) 100%
  );
}

